body
{
    background-image: url(image/backkkk.jpg);
    margin-top: 1%;
}
.navigation_bar
{
    display: block;
    text-align: center;
    margin-left: 9%;
    margin-right: 9%;
    padding-top: 0;
    text-decoration: none;
    font-size: 20px;
     margin-left: 16%;


}
.navigation
{
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-family: cursive;
    min-width: 1000px;
    position: relative;
    vertical-align:middle;


}
.navigation a:link, .navigation a:visited
{
    display: block;
    text-align: center;
    font-weight: bold;
    color:azure;
    width: 160px;
    background-color:darkslategray;
    height:60px;
    text-decoration: none;
    padding-top: 15%;
   

}
.navigation a:hover, .navigation a:active
{
    background-color:cadetblue
}


.navigation_bar li{float:left}
.logo
{
    width: 84px;
   

}
.contentt
{
   display: block;
    text-align: center;
    padding-left: 15%;
    padding-left: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    min-width: 1000px;
    position: relative;
    

}


.gallery
{
    margin: 2%;
    border: 1px solid ;
    float:left;
    width: 300px;
    text-align:center;
    margin:1%;
    border-color:lightsteelblue;
    transition: 1s;
  
    
}

.gallery:hover
{
    border: 1px solid ;
    color: black;
   box-shadow: 2px 4px 6px #000;
  
}

.gallery img
{
    width: 40%;
    height: auto;
   
}
.desc
{
    padding: 3%;
    text-align: center;
    font-family:serif;
    font-style: italic;
}

#footer
{
    clear:both;
    color:darkgrey;
    text-align:center;
    font-size: 10px;
    padding-top:10%;
 
}

